// COLORS
$color-main: #24292e;
$color-white: #ffffff;
$color-blue: dodgerblue;
$color-lightgrey: lightgrey;
$color-text: #414141;

// SPACES
$space: 0.25rem;

// Z-INDEXES
$z-index-header: 2;
$z-index-loader: 1;
