// COLORS
$color-main: #24292e;
$color-white: #ffffff;
$color-blue: #40a9ff;
$color-blue-dark: #096dd9;
$color-lightgrey: #d9d9d9;
$color-grey: #aaaaaa;
$color-text: #414141;
$color-red: #ff4d4f;

// SPACES
$space: 0.25rem;
