@import "../../styles/vars";

.feedback-form {

}

.feedback-form__field {
  & + & {
    margin-top: $space * 2;
  }

  &_rating {
    text-align: right;
  }
}

.feedback-form__button {
  margin-top: $space * 4;
}