@import "../../styles//vars.scss";

.feedback-page__title {
  margin-bottom: $space * 4;
}

.feedback-page__main {
  display: flex;
}

.feedback-page__form {
  flex-shrink: 0;
  width: 20rem;
}

.feedback-page__chart {
  margin-left: $space * 10;
  overflow: hidden;
}

.feedback-page__list {
  margin-top: $space * 10;
}
