@import "../../styles//vars.scss";

.feedback-page {
  position: relative;
}

.feedback-page__form {
  position: relative;
}

.feedback-page__chart {
  position: relative;
}

.feedback-page__list {
  position: relative;
}
