@import "../../styles//vars.scss";

.feedback-page {
  position: relative;
}

.feedback-page__main {
  display: flex;
}

.feedback-page__form {
  width: 20rem;
}

.feedback-page__chart {
  margin-left: $space * 10;
}

.feedback-page__list {
  margin-top: $space * 10;
}
